.InputAreaWrapper {
    display: flex;
    align-items: center;
}
.linhaForm {
    margin-bottom: 10px;
}
.descTextaArea {
    height: 100px;
    max-height: 100px;
}

.form-check {
    justify-content: flex-end
}